.logo {
  height: 55px;
  font-size: 32px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
.siteLayout .siteLayoutBackground {
  position: relative;
  margin-left: 0;
  background: #fff;
}
.logout {
  position: "absolute";
  bottom: 0;
  z-index: 1;
  transition: "all 0.2s";
}

.profileCard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  width: 500px;
}
.profileData {
}
.avatarHolder {
  text-align: center;
}
.profileName {
  padding-top: 20px;
  font-size: 20px;
}
.selectedSpecialties {
}
.confirmData {
}
.forms {
  margin: 0 auto;
  width: 50%;
  padding-top: 5rem;
}

/* Certificate */
.dynamicDeleteButton {
  position: absolute;
  top: 8px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamicDeleteButton:hover {
  color: #777;
}
.dynamicDeleteButton[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
/* END */

.sider {
  display: none;
}
@media (min-width: 640px) {
  .sider {
    display: block;
  }
  .siteLayout .siteLayoutBackground {
    position: relative;
    margin-left: 200px;
  }
}
@media (max-width: 900px) {
  .forms {
    width: 90%;
  }
}
